# Disable directory browsing
Options -Indexes

# Prevent viewing of .htaccess file
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

# Protect Vue configuration files
<Files *.config.js>
    Order allow,deny
    Deny from all
</Files>

# Prevent access to sensitive files
<FilesMatch "(^#.*#|\.(bak|config|dist|fla|in[ci]|log|psd|sh|sql|sw[op])|~)$">
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch>

# Prevent access to node_modules directory
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^node_modules/ - [F,L]
</IfModule>

# Force HTTPS
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>
